<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.xinrong.dao.DictionaryMapper" >
  <resultMap id="BaseResultMap" type="com.xinrong.bean.Dictionary" >
    <id column="id" property="id" jdbcType="INTEGER" />
    <result column="dataName" property="dataname" jdbcType="VARCHAR" />
    <result column="status" property="status" jdbcType="INTEGER" />
    <result column="explain" property="explain" jdbcType="VARCHAR" />
  </resultMap>
  <sql id="Base_Column_List" >
    id, dataName, status, explain
  </sql>
  <select id="selectByPrimaryKey" resultMap="BaseResultMap" parameterType="java.lang.Integer" >
    select 
    <include refid="Base_Column_List" />
    from dictionary
    where id = #{id,jdbcType=INTEGER}
  </select>
  <delete id="deleteByPrimaryKey" parameterType="java.lang.Integer" >
    delete from dictionary
    where id = #{id,jdbcType=INTEGER}
  </delete>
  <insert id="insert" parameterType="com.xinrong.bean.Dictionary" >
    insert into dictionary (id, dataName, status, 
      explain)
    values (#{id,jdbcType=INTEGER}, #{dataname,jdbcType=VARCHAR}, #{status,jdbcType=INTEGER}, 
      #{explain,jdbcType=VARCHAR})
  </insert>
  <insert id="insertSelective" parameterType="com.xinrong.bean.Dictionary" >
    insert into dictionary
    <trim prefix="(" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        id,
      </if>
      <if test="dataname != null" >
        dataName,
      </if>
      <if test="status != null" >
        status,
      </if>
      <if test="explain != null" >
        explain,
      </if>
    </trim>
    <trim prefix="values (" suffix=")" suffixOverrides="," >
      <if test="id != null" >
        #{id,jdbcType=INTEGER},
      </if>
      <if test="dataname != null" >
        #{dataname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        #{status,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        #{explain,jdbcType=VARCHAR},
      </if>
    </trim>
  </insert>
  <update id="updateByPrimaryKeySelective" parameterType="com.xinrong.bean.Dictionary" >
    update dictionary
    <set >
      <if test="dataname != null" >
        dataName = #{dataname,jdbcType=VARCHAR},
      </if>
      <if test="status != null" >
        status = #{status,jdbcType=INTEGER},
      </if>
      <if test="explain != null" >
        explain = #{explain,jdbcType=VARCHAR},
      </if>
    </set>
    where id = #{id,jdbcType=INTEGER}
  </update>
  <update id="updateByPrimaryKey" parameterType="com.xinrong.bean.Dictionary" >
    update dictionary
    set dataName = #{dataname,jdbcType=VARCHAR},
      status = #{status,jdbcType=INTEGER},
      explain = #{explain,jdbcType=VARCHAR}
    where id = #{id,jdbcType=INTEGER}
  </update>
</mapper>